
<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='Styles/home.css')}}" />

    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
    <script defer src="scripts/scripts.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script defer ="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script defer ="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body style="background-color: #EAD7D7;">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">

    <nav class="navbar navbar-expand-sm navbar-dark" style="padding-bottom: 0.3vmin; padding-top: 0.3vmin; background-color: white;">
            <a class="navbar-brand" href="#" data-toggle="modal" data-target="#userInfo"><img src="https://static.vecteezy.com/system/resources/previews/000/421/945/original/house-icon-vector-illustration.jpg" alt="LOGO" height="40px" width="40px" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt- mt-lg-0" style="align-items: center">
            </ul>

            <ul class="navbar-nav reigth mt-2 mt-lg-0" style="align-items:end; float: right;">
                <li class="nav-item">
                    <a style = "margin: 10px;" href="/templates/login.html"> <i class="fa-solid fa-user"></i> Cuenta</a>
                </li>
                <li>
                    <a style = "margin: 10px;" href=""> <i class="fa-solid fa-bars"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <br>

    <div class="image-container">
        <img src="https://static.vecteezy.com/system/resources/previews/000/421/945/original/house-icon-vector-illustration.jpg" alt="Imagen de inicio" height="200px" />
    </div>
    
    <br><br><br>

     
    <div>
        <div class="social-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xs-12 text-center">
                        <div class="box" onclick="alert('¡Hola, mundo!')" style="border: 3px solid black;">
                            <div class="box-title">
                                <h3>Comida</h3>
                            </div>
                            <div class="box-text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>
                            <div class="box-btn">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>	 
                    
                    <div class="col-lg-4 col-xs-12  text-center">
                        <div class="box" onclick="alert('¡Hola, mundo!')" style="border: 3px solid black;">
                            <div class="box-title">
                                <h3>Deberes</h3>
                            </div>
                            <div class="box-text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>
                            <div class="box-btn">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>	 
                    
                    <div class="col-lg-4 col-xs-12 text-center">
                        <div class="box" onclick="alert('¡Hola, mundo!')" style="border: 3px solid black;">
                            <div class="box-title">
                                <h3><i class="fa-solid fa-plate-utensils"></i>Completo</h3>
                            </div>
                            <div class="box-text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>
                            <div class="box-btn">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>	 
                     
                </div>		
            </div>
        </div>
    </div>
	
</body>
</html>


<!-- <nav class="navbar navbar-expand-sm navbar-dark" style="padding-bottom: 0.3vmin; padding-top: 0.3vmin">
    <a class="navbar-brand" href="#" data-toggle="modal" data-target="#userInfo"><img src="/FRONTEND/images/LOGIN.png" alt="Loginpa" height="40px" width="40px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="align-items: center">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#bestScores" onclick="bestScores()"> My bests scores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-target="#Leaderboard" data-toggle="modal" href="#" onclick="leaderBoard()">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-target="#loadGame" data-toggle="modal" href="#" onclick="loadGames()">Load game</a>
            </li>
        </ul>
        <ul class="navbar-nav reigth mt-2 mt-lg-0" style="align-items: center">
            <li class="nav-item">
                <a href="#" onclick="logout()"><img src="/FRONTEND/images/logout.png" alt="Valio madre" height="40px" /></a>
            </li>
        </ul>
    </div>
</nav> -->
