.form-container {
    width:1000px;
    background: linear-gradient(#e4b6b6, #eeaaaa) padding-box,
                linear-gradient(145deg, transparent 35%, ) border-box;
    border: 4px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: black;
    display: flex;
    flex-direction:column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    justify-content: center;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  .form-container{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: black;
    font-family: inherit;
    background-color: transparent;
    border: 3px solid black;
  }


  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: black;
    height: 96px;
    border: 3px solid black;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: black;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: black;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: black;
    font-weight: 600;
    width: 40%;
    background:#e4b6b6;
    border: 3px solid black;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  
  
  
  .container {
    width: 300px;
    height: 320px;
    background-color: #d4cbcb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }